[tool.poetry]
name = "kpops"
version = "0.4.1"
description = "KPOps is a tool to deploy Kafka pipelines to Kubernetes"
authors = ["bakdata <opensource@bakdata.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/bakdata/kpops"
documentation = "https://bakdata.github.io/kpops/latest"
keywords = ["kafka", "kubernetes", "stream-processing", "pipelines"]
classifiers = [
    "Environment :: Console",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Intended Audience :: Developers",
    "Typing :: Typed",
]

[tool.poetry.scripts]
kpops = "kpops.cli.main:app"

[tool.poetry.dependencies]
python = "^3.10"
pydantic = { extras = ["dotenv"], version = "^1.9.1" }
rich = "^12.4.4"
PyYAML = "^6.0"
requests = "^2.28.0"
typer = { extras = ["all"], version = "^0.6.1" }
pyhumps = "^3.7.3"
cachetools = "^5.2.0"
dictdiffer = "^0.9.0"
python-schema-registry-client = "^2.4.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.2"
pytest-mock = "^3.10.0"
snapshottest = "^0.6.0"
responses = "^0.22.0"
pre-commit = "^2.19.0"
mypy = "^0.990"
flake8 = "^4.0.1"
black = "^22.3.0"
isort = "^5.10.1"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs-macros-plugin = "^0.7.0"
mkdocs-material = "^8.5.1"
mkdocs = "^1.4.2"
mkdocs-material-extensions = "^1.1.1"
mkdocs-glightbox = "^0.3.1"
mike = "^1.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
