<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../../../8.1/user/core-concepts/components/kubernetes-app/" />
  </noscript>
  <script>
    window.location.replace("../../../../../8.1/user/core-concepts/components/kubernetes-app/" + window.location.hash);
  </script>
</head>
<body>
  Redirecting to <a href="../../../../../8.1/user/core-concepts/components/kubernetes-app/">../../../../../8.1/user/core-concepts/components/kubernetes-app/</a>...
</body>
</html>