<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../../../6.0/user/core-concepts/components/kafka-sink-connector/" />
  </noscript>
  <script>
    window.location.replace("../../../../../6.0/user/core-concepts/components/kafka-sink-connector/" + window.location.hash);
  </script>
</head>
<body>
  Redirecting to <a href="../../../../../6.0/user/core-concepts/components/kafka-sink-connector/">../../../../../6.0/user/core-concepts/components/kafka-sink-connector/</a>...
</body>
</html>