<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../../../4.1/user/core-concepts/components/kafka-source-connector/" />
  </noscript>
  <script>
    window.location.replace("../../../../../4.1/user/core-concepts/components/kafka-source-connector/" + window.location.hash);
  </script>
</head>
<body>
  Redirecting to <a href="../../../../../4.1/user/core-concepts/components/kafka-source-connector/">../../../../../4.1/user/core-concepts/components/kafka-source-connector/</a>...
</body>
</html>