site_name: KPOps
site_url: https://bakdata.github.io/kpops/
repo_name: KPOps
repo_url: https://github.com/bakdata/kpops/
remote_branch: gh-pages
copyright: Copyright &copy; 2023 bakdata

extra_css:
  - stylesheets/extra.css

theme:
  name: "material"
  custom_dir: docs/overrides
  language: "en"
  font:
    text: "SF Pro"
    code: "DejaVu Sans Mono"
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - navigation.tracking
    - toc.follow
    - search.highlight
    - search.share
    - search.suggest
    - content.tooltips
    - content.code.copy
    - content.code.select
    - content.code.annotate

plugins:
  - macros
  - search
  - exclude-search:
      exclude:
        - resources/*
  - glightbox
  - mkdocstrings:
      handlers:
        python:
          paths: [..]
          options:
            docstring_style: sphinx
            show_if_no_docstring: true
            line_length: 60
            separate_signature: true
            show_signature_annotations: true
            docstring_section_style: spacy
            show_root_heading: true
            # The options below are not yet publicly available,
            # but would be a nice addition when released.
            #show_inheritance_diagram: true # https://mkdocstrings.github.io/python/usage/configuration/general/?h=show_inheri#show_inheritance_diagram
            #modernize_annotations: true # https://mkdocstrings.github.io/python/usage/configuration/signatures/#modernize_annotations

extra:
  version:
    provider: mike

markdown_extensions:
  - footnotes
  - toc:
      permalink: true
  - def_list
  - attr_list
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      linenums: true
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.keys
  - pymdownx.details
  - pymdownx.snippets:
      base_path: "docs/"
      url_download: true
      url_timeout: false
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Home:
      KPOps Documentation: index.md
  - User Guide:
      - What is KPOps: user/what-is-kpops.md
      - Changelog: user/changelog.md
      - Getting Started:
          - Setup: user/getting-started/setup.md
          - Quick start: user/getting-started/quick-start.md
          - Teardown: user/getting-started/teardown.md
      - Examples:
          - ATM Fraud detection pipeline: user/examples/atm-fraud-pipeline.md
      - Core Concepts:
          - Components:
              - Overview: user/core-concepts/components/overview.md
              - KubernetesApp: user/core-concepts/components/kubernetes-app.md
              - HelmApp: user/core-concepts/components/helm-app.md
              - StreamsBootstrap: user/core-concepts/components/streams-bootstrap.md
              - StreamsApp: user/core-concepts/components/streams-app.md
              - ProducerApp: user/core-concepts/components/producer-app.md
              - KafkaConnector: user/core-concepts/components/kafka-connector.md
              - KafkaSinkConnector: user/core-concepts/components/kafka-sink-connector.md
              - KafkaSourceConnector: user/core-concepts/components/kafka-source-connector.md
          - Config: user/core-concepts/config.md
          - Defaults: user/core-concepts/defaults.md
          - Operation Modes: user/core-concepts/operation-mode.md
          - Variables:
              - Environment variables: user/core-concepts/variables/environment_variables.md
              - Substitution: user/core-concepts/variables/substitution.md
      - References:
          - Migration guide:
              - Migrate from v1 to v2: user/migration-guide/v1-v2.md
              - Migrate from v2 to v3: user/migration-guide/v2-v3.md
              - Migrate from v3 to v4: user/migration-guide/v3-v4.md
              - Migrate from v4 to v5: user/migration-guide/v4-v5.md
              - Migrate from v5 to v6: user/migration-guide/v5-v6.md
              - Migrate from v6 to v7: user/migration-guide/v6-v7.md
              - Migrate from v7 to v8: user/migration-guide/v7-v8.md
              - Migrate from v8 to v9: user/migration-guide/v8-v9.md
              - Migrate from v9 to v10: user/migration-guide/v9-v10.md
          - CLI usage: user/references/cli-commands.md
          - Editor integration: user/references/editor-integration.md
          - CI integration:
              - GitHub Actions: user/references/ci-integration/github-actions.md
  - Developer Guide:
      - Getting Started: developer/getting-started.md
      - API: developer/api.md
      - Contributing: developer/contributing.md
      - Code base:
          - Auto generation: developer/auto-generation.md
