name: Publish to PyPI
on:
  push:
    tags:
      - "*"

jobs:
  publish:
    name: Publish to PyPI
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.11"
          version: "0.5.14"

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish
